
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0px 300px 100px 300px; background:#cccccc2e; height:500px; width:1000px;    font-family: Verdana,sans-serif;">
    <div style="text-align:center;">
        <img src="~/image/icontc.png" width="100" height="50" style="margin-top:30px;"/>
        <br /><br />
       <span style="padding:10px;background:#00ff21;border:2px solid red; font-size:20px; font-weight:bold;">ĐẶT HÀNG THÀNH CÔNG</span>
        <br />
    </div>
    <br />
    <div style="margin-left:130px;text-align:left; line-height:30px;">
        <span>Cảm ơn quý khách đã mua hàng tại <a href="/Home" style="font-weight:bold;color:#f55b5b">Điện thoại di động New Style</a></span><br />
        <span>Đơn hàng của bạn đã được hệ thống xác nhận</span><br />
        <span>Quý khách có thể xem lại đơn hàng trong trang quản lý tài khoản</span>
    </div>
    <br />
    <div style="margin-left:50px;  text-align:left;">
        <span> Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất để xác nhận đơn hàng. Thời gian nhận hàng sẽ từ 3-5 ngày nếu ở khu vực ngoại thành.</span>
        <br />
        <br />
        <strong>Hotline:</strong> 0913 928 607
        <br />
        <div style="text-align:right;"><a class="btn btn-success" href="/Home">Quay về trang chủ <i class="ti-home"></i></a></div>
    </div>
</div>

