body {
    font-family: Arial;
    font-size: 16px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#Ly_Do_Huy_DonHang {
    color: red;
    font-weight: bold;
    font-style: italic;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

#don_dat_hang {
    width: 1000px;
    height: 47px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    background: #f1f1f1;
}

    #don_dat_hang:hover {
        box-shadow: 5px 5px 5px 5px #777;
        background: #fbe0e0;
    }

#cl1 {
    width: 150px;
    float: left;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#_top {
    width: 1000px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    background: #f1f1f1;
}

#cl2 {
    width: 150px;
    float: left;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman';
}

#ct_left {
    width: 750px;
    height: auto;
    float: left;
    padding: 20px;
    margin-left: 100px;
    font-family: 'Times New Roman';
    background: #ffffff;
}

#ct_right {
    width: 300px;
    height: 1000px;
    font-family: 'Times New Roman';
    padding: 20px;
    float: left;
}
/*body{
    background:#eee9e9;
    font-family:'Times New Roman';
}*/
#left_t {
    width: 100%;
    height: 100px;
}

#banner-lf {
    width: 100%;
    height: auto;
    float: left;
}

#ct_sp {

    width: 390px;
    height: 460px;
    float: left;
    padding: 10px;
}

#ct_gia {
    width: 315px;
    height: 350px;
    float: right;
    margin-top: 40px;
}

#xac_thuc_don_hang {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    float: left;
}

#xac_nhan_thanh_toan {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    float: left;
    padding: 20px;
}

#xac_nhan_giao {
    width: 100%;
    height: 300px;
    float: left;
    padding: 10px;
}

#ct_right1 {
    width: 100%;
    height: 500px;
    margin-top: -20px;
    float: left;
    padding: 10px;
    background: #fff;
}

#ct_right2 {
    width: 100%;
    margin-top: 30px;
    height: 360px;
    float: left;
    background: #eee9e9;
}

h5 {
    font-size: 15px;
}

#ct_right2_top {
    width: 100%;
    height: 100px;
    padding: 10px;
    float: left;
    border: 1px solid black;
}

#ct_right2_bot {
    margin-top: 10px;
    width: 100%;
    height: 130px;
    float: left;
    padding: 10px;
    border: 1px solid black;
}

.with100 {
    width: 100%;
}
