
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div style="border:1px solid black; width:1000px;height:500px;"> 
        <div style="height:150px; width:1000px;border:1px solid black;">

        </div>
        <div class="row" style="width:1000px; height:200px;border:1px solid black;margin-left: 0px;">
            <div class="col-5"  style="border:1px solid black;height:200px;">

            </div>
            <div class="col-7"  style="border:1px solid black;height:200px;">

            </div>
        </div>

    </div>
</body>
</html>
