
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/custom/ThongTinCaNhan.css" rel="stylesheet" />
<link href="~/Content/custom/Loading.css" rel="stylesheet" />
<h3>Thông tin cá nhân</h3>
<div id="thong-tin-da-dang-ky">
    <div id="tt-thongtin">
        <h4>Xin Chào: @Session["UserName"]</h4>
        <h4 style="font-weight:bold;">Quản lý tài khoản</h4>
        <ul>
            <li style=""><a target="thong-tin-ca-nhan" href="/Customer/HoSoNguoiDung" style="text-decoration:none;">Thông tin cá nhân </a></li>
            <li>Số địa chỉ</li>
            <li>Tùy chọn thanh toán</li>
            <li>Mã giảm giá</li>
        </ul>
        <a style="font-weight:bold;text-decoration:none;" target="thong-tin-ca-nhan" href="/Customer/Order">Đơn hàng của tôi</a>
        <br />
        <a style="font-weight:bold;text-decoration:none;" id="spnguoidungdaxem" target="thong-tin-ca-nhan" href="/Customer/LayDanhSachSanPhamDaXem">Sản Phẩm Đã Xem</a>
        <ul>
            <li>Đơn hàng đổi trả</li>
            <li>Đơn hàng hủy</li>
        </ul>
        <h4 style="font-weight:bold;">Nhận xét của tôi</h4>
        <h4 style="font-weight:bold;"><a href="/Customer/LayDanhSachSanPhamYeuThich" target="thong-tin-ca-nhan" style="text-decoration:none;color:green;">Sản phẩm yêu thích & Gian hàng đang theo dõi</a></h4>
    </div>
    <div id="#tt-main">
        <iframe src="/Customer/HoSoNguoiDung" id="khungiframe" frameborder="0" scrolling="auto" name="thong-tin-ca-nhan"></iframe>
    </div>
</div>

