
@{
    Layout = null;
}

<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
<link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
<!-- Select2 -->
<link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
<!-- Switchery -->
<link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- starrr -->
<link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="../build/css/custom.min.css" rel="stylesheet">

<!--fontawesome-->
<link href="~/Content/fontawesome/all.css" rel="stylesheet" />
<link href="~/Content/fontawesome/all.min.css" rel="stylesheet" />
<link href="~/Content/fontawesome/brands.css" rel="stylesheet" />
<link href="~/Content/fontawesome/fontawesome.css" rel="stylesheet" />
<link href="~/Content/fontawesome/brands.min.css" rel="stylesheet" />
<link href="~/Content/fontawesome/fontawesome.min.css" rel="stylesheet" />
<!--end-->

<link href="~/Content/Toast/toastyfy.css" rel="stylesheet" />
<link href="~/Content/Toast/Default.css" rel="stylesheet" />
<link href="~/Content/Toastify/Toastr.css" rel="stylesheet" />
<link href="~/Content/Toastify/toaststyle.css" rel="stylesheet" />
<script src="Content/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<link href="~/Content/assets/css/Login.css" rel="stylesheet" />
<link href="~/Content/assets/css/menu-bot.css" rel="stylesheet" />
<link href="~/Content/autocomplete/autocomplete.css" rel="stylesheet" />
<link href="~/Content/custom/DonHang.css" rel="stylesheet" />

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-3 btn btn-primary" id="dhkh" data-iddh="0">Đơn hàng chờ xử lý</div>
                <div class="col-3 btn btn-primary" id="dhkh" data-iddh="1">Đơn hàng đã lý</div>
                <div class="col-3 btn btn-primary" id="dhkh" data-iddh="2">Đơn hàng đã giao</div>
                <div class="col-3 btn btn-primary" id="dhkh" data-iddh="3">Đơn hàng đã bị hủy </div>
            </div>
        </div>
        <div id="x_content_Order1">

        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="../vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>
<script src="~/Scripts/custom/Admin.js"></script>
<!--StartToast-->
@*<script src="~/Scripts/Toast/jsmin.js"></script>*@
<script src="~/Scripts/Toastify/Toaster.js"></script>
<script src="~/Scripts/Toastify/toastify.js"></script>
<script src="~/Scripts/Toastify/umd.js"></script>
<!--EndToast-->
<!--StartFontawesome-->
<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/fontawesome/fontawesome.js"></script>
<script src="~/Scripts/fontawesome/fontawesome.min.js"></script>
<!--End-->
<script src="~/Scripts/autocomplete/Auto.js"></script>
<script src="~/Scripts/custom/search.js"></script>
<script src="~/Scripts/custom/login.js"></script>
<script src="~/Scripts/custom/Detail.js"></script>
<script src="~/Scripts/custom/Favorite.js"></script>
<script src="~/Scripts/custom/Cart.js"></script>
<script src="~/Scripts/custom/DonHangCustomer.js"></script>